---
import Drawing from '../components/drawing.svelte'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main class="w-full grid place-items-center min-h-screen h-full px-2" >
			<Drawing client:load />
		</main>
	</body>
</html>
